body{
    padding: 3.5rem 0;
}
.box{
    margin: 1rem auto;
    max-width: 600px;
    width: 100%;
    border: 2px solid grey;
    border-radius: 8px;
    padding: 0;
}

.header{
    background: linear-gradient(105deg,purple,blue,purple);
    color: aliceblue;
    padding: 0.5rem 0;
}

.form-area{
    padding: 0 2rem;
    margin: 1.5rem 0;
}

#calculate-button{
    border-radius: 16px;
    background: linear-gradient(blue, purple);
}

#calculate-button:hover{
    transform: scale(1.1);
}

#bmi-table{
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style-type: none;
    padding: 0 1.5rem;
}
.table-rows{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
}
.table-rows.head{
    font-weight: bold;
    border-bottom: 2px solid grey;
}

@media (max-width: 420px){
    .box{
        max-width: 350px;
        width: 100%;
    }
}